
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.traffic-light {
    
    border-radius: 5%;
    background-color: black;
    padding: 10px;
    width: 120px;

}

.red {
    background-color: rgb(248, 1, 1);
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(4, 218, 4);
}

.glow {
    box-shadow: 0px 0px 40px rgb(255, 255, 255);

}